@model Aakar.Models.rental

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rental_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rental_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rental_period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rental_period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartment.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
