@model Aakar.Models.rom_images

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>rom_images</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartment.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment.country)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
